@model IEnumerable<TimeSheetDetailViewModel>

@{
    ViewData["Title"] = "ListTimeSheet";
}

<h2>ListTimeSheet</h2>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Approved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReasonDenied)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ExemptFromOvertime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeWorked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountMade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Approved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReasonDenied)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ExemptFromOvertime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeWorked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountMade)
            </td>
            <td>

                @Html.ActionLink("Details", "DetailTimeSheet", new { id=item.TimesheetId })
            </td>
        </tr>
}
    </tbody>
</table>
